.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.operators-wrapper {
    padding: 40px 0 40px 0;
    display: flex;
    gap: 30px;
}

.operators-wrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table {
    width: 300px;
}

.table, td, th {
    text-align: center;
}

#chosen-operator {
    width: 40px;
}

td, th {
    border-bottom: 1px black solid;
}